<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel Planner App</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="headline">
        Your Travel Planner
      </div>
    </header>

    <main>
      <div class="inputform">
        <div class="city">
          <p>Going to</p>
          <input type="text" id="cityInput" value="" placeholder="Munich" />
        </div>
        <div class="date_start">
          <p>Departing</p>
          <input type="date" id="dateInput_start" value="2020-05-01" />
        </div>
        <div class="date_back">
          <p>Returning</p>
          <input type="date" id="dateInput_back" value="2020-05-01" />
        </div>

        <div class="buttons"><input type="submit" id="submit" /></div>
      </div>

      <section id="resultsection">
        <div id="result_image">Plan your trip now!</div>
        <div id="result_text"></div>
      </section>
    </main>
  </body>
</html>
