<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel Planner App</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1 class="headline">
        Your Travel Planner
      </h1>
    </header>

    <main>
      <div class="inputform">
        <div class="city">
          <p>Destination City</p>
          <input type="text" id="cityInput" value="" placeholder="Munich" />
        </div>
        <div class="date_start">
          <p>Start Date</p>
          <input type="date" id="dateInput_start" value="2020-05-01" />
        </div>
        <div class="date_back">
          <p>Return Date</p>
          <input type="date" id="dateInput_back" value="2020-05-01" />
        </div>

        <div class="buttons"><input type="submit" id="submit" /></div>
      </div>

      <section id="resultsection">
        <div id="result_image">Where will you travel next?</div>
        <div id="result_text"></div>
      </section>
    </main>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
