body {
  /*base font size*/
  font-size: 16px;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
h1 {
  font-size: 2rem;
}
.inputform {
  display: grid;

  grid-template-rows: 60px 40px;
  grid-template-columns: 210px 210px 210px;

  width: 630px;
  margin: auto auto 0 auto;
  text-align: center;
  margin-bottom: 10px;
}
input:hover {
  background-color: rgb(110, 163, 241);
}
#cityInput {
  border: 2px solid rgb(110, 105, 136);
  border-radius: 4px;
}
#dateInput_start {
  border: 2px solid rgb(110, 105, 136);
  border-radius: 4px;
}
#dateInput_back {
  border: 2px solid rgb(110, 105, 136);
  border-radius: 4px;
}
#submit {
  border: 2px solid rgb(110, 105, 136);
  border-radius: 4px;
  width: 630px;
}

.headline {
  padding-top: 20px;
  padding-bottom: 20px;
}
.city {
  grid-area: "city";
  padding-right: 5px;
}

.date_start {
  grid-area: "date";
  padding-right: 5px;
}

.buttons {
  padding-top: 5px;
  grid-area: "button";
}

@media (max-width: 785px) {
  .inputform {
    display: grid;

    grid-template-rows: 60px 60px 60px 60px;
    grid-template-columns: 400px;
    /*grid-template-areas:"city date " "button button" ;*/
    /*border: 2px solid red;*/

    width: 400px;

    /*margin-top: 100px;*/
    /*margin-left: 100px;*/
    margin: auto auto 0 auto;
    margin-top: 150px;
    text-align: l;
    margin-bottom: 10px;
  }
  #cityInput {
    border: 2px solid rgb(110, 105, 136);
    border-radius: 4px;
  }
  #dateInput_start {
    border: 2px solid rgb(110, 105, 136);
    border-radius: 4px;
  }
  #dateInput_back {
    border: 2px solid rgb(110, 105, 136);
    border-radius: 4px;
  }
  #submit {
    border: 2px solid rgb(110, 105, 136);
    border-radius: 4px;
    width: 400px;
  }
  .city {
    grid-area: "city";
    padding-right: 5px;
  }

  .date {
    grid-area: "date";
    padding-right: 5px;
  }

  .buttons {
    grid-area: "button";
  }
}
